<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Martin Safer", root_path, id: "logo" %>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
    		</button>
    	</div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Resume", '#' %></li>
        <li><%= link_to "My Story", bio_path %></li>
        <li><%= link_to "About Me", bio_path %></li>
        <li><%= link_to "Projects", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </div>
  </div>
</header>